body > header{
	grid-area: header;
	background-color:lightblue;
	font-family:"Georgia",serif;
	text-align:left;
}

body > header > h1{
	margin-left: 25px;
}

body{
	display:grid;
	grid-template-columns:repeat(3,1f);
	grid-template-areas:
	'header header header'
	'nav nav nav'
	'main main main'
	'footer footer footer';
	background-image:url("../images/home.jpg");/*url("../images/blue-css-background-gradient-9.jpg");*/
	grid-gap:10px;
	background-repeat:repeat;
}
nav{
	grid-area: nav;
}

nav > ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: grey;
}

nav > ul > li{
	float:left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

main{
	grid-area: main;
}

main > section{
	display:block;
	background-color:grey;
	color:white;
	width: 800px;
	height: 430px;
}

footer{
	grid-area: footer;
	background-color:grey;
}

table{
	margin-left:550px;
}