body{
	display:grid;
	grid-template-columns:repeat(1,1f);
	grid-template-areas:
	'main main main';
	background-image:url("../images/blue-css-background-gradient-9.jpg");
	background-repeat:repeat-x;
}

main{
    grid-area: main;
}

main > .button{
    background-color: rgb(90, 90, 202);
    border-radius: 50%;
    border:none;
    padding: 100px;
    margin-top: 160px;
    margin-left:160px;
    margin-right: 160px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

main > .button > a{
    text-decoration-color: white;
    text-decoration:none;
}

