body header{
	background-color:lightblue;
	background-repeat:repeat;
	border-radius: 25px;
	font-family:"Georgia",serif;
	text-align:left;
}

body{
	background-image:url("../images/blue-css-background-gradient-9.jpg");
	background-repeat:repeat-x;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: grey;
}

li{
	float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

footer{
	background-color:grey;
	padding-bottom:15px;
	margin-top:373px;
	font-family:"Georgia",serif;
	text-align:left;
}

li b{
	color:white;
	padding:80px;
	margin:80px;
}