body > header{
	grid-area:header;
	background-color:rgba(165, 89, 53);
	font-family:"Georgia",serif;
	text-align:left;
}

body > header > h1{
	margin-left: 25px;
}

body{
	background-image:url("../images/home.jpg");
	background-size:1280px 752.88px;
	display:grid;
	grid-template-columns: repeat(3,1f);
	grid-template-areas:
	'header header header'
	'nav nav nav'
	'main main main'
	'footer footer footer';
	grid-gap:10px;
	background-repeat:repeat;
}

nav{
	grid-area:nav;
}

nav > ul{
	background-color:grey;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: grey;
}

nav > ul >li{
	float:left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

main{
	grid-area: main;
	background-color:rgb(128, 128, 128,0.4);
	display: flex;
}
main section {
	display: inline;
	flex-wrap: wrap;
	flex-direction: column;
}

main section img{
	margin-bottom: 10px;
}

main section img:hover{
	cursor: -webkit-grab; cursor: grab;
}

footer{
	grid-area: footer;
	background-color:rgba(165, 89, 53);
}

footer > table{
	margin-left:550px;
}

footer table a{
	text-decoration: none;
	color:black;
}

#subscricoes{
	background-color:rgba(165, 89, 53,0.8);
	display: flex;
}