<!DOCTYPE html>
<html>
     <head>
	      <title>uWork_Personal_Trainers</title>
		  <link rel="stylesheet" type="text/css" href="./stylesheets/Personal_Trainers.css">
     </head>
     <body>
		 <header>
			    <h1> uWork </h1>
				<p> Mantenha-se em forma! </p>
				<br>
		 </header>
		 
		 <nav>
			  <ul>
				  <li><a href="index.html">Home</a></li>
				  <li><a href="Personal_Trainers.html">Personal trainers</a></li>
				  <li><a href="Meus_Servicos.html">Meus serviços</a></li>
				  <li><a href="Meu_Perfil.html">Meu perfil</a></li>
			  </ul>
		 </nav>
		 
		 <main>
			 <div class="flex-container">
				 <div>imagem1</div>
				 <div>imagem2</div>
				 <div>imagem3</div>
				 <div>imagem4</div>
				 <div>imagem5</div>
				 <div>imagem6</div>
			 </div>
		 </main>
		 
		 <footer>
			    <ul> 
					<li><b>uWork:
						<ul>
							<li><b>Sobre Nós</b></li>
						</ul>
					</b></li>
					<li><b>Contactos:
						<ul>
							<li><b>Email</b></li>
						</ul>
					 </b></li>
				</ul>
		 </footer>
		
      </body>
</html>